* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}
.container {
    background: #fff;
    width: 100px;
    height: 100px;
    margin: 300px auto;
    padding: 10px;
}
.content {
    margin-top: 10px;
    text-align: center;
}
.close {
    margin-top: 30px;
}
#modal:target {
    display: block;
}